body{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:blue;
}

article{
	background-color:green;
}

.win {
	background-color:black;
	height:250px;
	z-index:1;
}

.maps {
	height:238px;
	background: url("../maps/plan3_2.png") no-repeat ;
	//background-position: -65px 0;
	background-position: -130px 0;
}

.perso {
	height:60px;
	margin-top:-86px;
	//margin-top:-74px;
	z-index:100;
	position:relative;
	//background-color:black;
	width:55px;
}

.mur {
	background-color:yellow;
	width:60px;
	height:60px;
	margin-top:200px;
	 z-index:500;
}

.marche {
	background-position: -2px 0;
}